:root {
  --base-font: 18px;
}

html {
  font-size: var(--base-font);
}

body {
  display: grid;
  font-size: 1rem;
  place-items: center;
  background-color: hsl(243, 96%, 9%);
}

#root {
  max-width: 1440px;
  width: 100%;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@import 'tailwindcss';

@theme {
  /*colors*/
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* font family*/
  --font-DMsans: 'DM Sans', sans-serif;
  --font-Bricolage: 'Bricolage Grotesque', sans-serif;

  /*font sizes*/

  --text-preset-1: calc(96px / var(--base-font) * 1rem);
  --text-preset-1--letter-spacing: calc(-2px / var(--base-font) * 1rem);
  --text-preset-1--font-weight: 600;

  --text-preset-2: calc(52px / var(--base-font) * 1rem);
  --text-preset-2--line-height: 1.2;
  --text-preset-2--font-weight: 700;

  --text-preset-3: calc(32px / var(--base-font) * 1rem);
  --text-preset-3--font-weight: 300;

  --text-preset-4: calc(28px / var(--base-font) * 1rem);
  --text-preset-4--line-height: 1.2;
  --text-preset-4--font-weight: 700;

  --text-preset-5-semibold: calc(20px / var(--base-font) * 1rem);
  --text-preset-5-semibold--line-height: 1.2;
  --text-preset-5-semibold--font-weight: 600;

  --text-preset-5-medium: calc(20px / var(--base-font) * 1rem);
  --text-preset-5-medium--line-height: 1.2;
  --text-preset-5-medium--font-weight: 500;

  --text-preset-6: calc(18px / var(--base-font) * 1rem);
  --text-preset-6--line-height: 1.2;
  --text-preset-6--font-weight: 500;

  --text-preset-7: calc(16px / var(--base-font) * 1rem);
  --text-preset-7--line-height: 1.2;
  --text-preset-7--font-weight: 500;

  --text-preset-8: calc(14px / var(--base-font) * 1rem);
  --text-preset-8--line-height: 1.2;
  --text-preset-8--font-weight: 500;

  /*spacing*/
  --spacing-1400: calc(112px / var(--base-font) * 1rem);
  --spacing-1000: calc(80px / var(--base-font) * 1rem);
  --spacing-800: calc(64px / var(--base-font) * 1rem);
  --spacing-600: calc(48px / var(--base-font) * 1rem);
  --spacing-400: calc(32px / var(--base-font) * 1rem);
  --spacing-300: calc(24px / var(--base-font) * 1rem);
  --spacing-250: calc(20px / var(--base-font) * 1rem);
  --spacing-200: calc(16px / var(--base-font) * 1rem);
  --spacing-150: calc(12px / var(--base-font) * 1rem);
  --spacing-125: calc(10px / var(--base-font) * 1rem);
  --spacing-100: calc(8px / var(--base-font) * 1rem);
  --spacing-75: calc(6px / var(--base-font) * 1rem);
  --spacing-50: calc(48px / var(--base-font) * 1rem);

  /* corner radius */
  --radius-24: calc(24px / var(--base-font) * 1rem);
  --radius-20: calc(20px / var(--base-font) * 1rem);
  --radius-16: calc(16px / var(--base-font) * 1rem);
  --radius-12: calc(12px / var(--base-font) * 1rem);
  --radius-10: calc(10px / var(--base-font) * 1rem);
  --radius-8: calc(8px / var(--base-font) * 1rem);

  /* breakpoints */
  --breakpoint-mobile: 550px;

  /* animations*/
  --animate-spin-slow: spin 3s linear infinite;
}

.custom-scrollbar {
  @apply [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:border-1 [&::-webkit-scrollbar-thumb]:border-neutral-600 [&::-webkit-scrollbar-thumb]:bg-neutral-700 [&::-webkit-scrollbar-track]:bg-transparent;
}
