@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@import 'tailwindcss';

@theme {
  /*colors*/
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* font family*/
  --font-DMsans: 'DM Sans', sans-serif;
  --font-Bricolage: 'Bricolage Grotesque', sans-serif;

  /*font sizes*/
  --text-base: 18px;
  --text-base--line-height: 1.2;
  --text-base--font-weight: 500;

  --text-preset-1: 5.333rem;
  --text-preset-1--letter-spacing: -0.111rem;
  --text-preset-1--font-weight: 600;

  --text-preset-2: 2.889rem;
  --text-preset-2--line-height: 1.2;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 1.777rem;
  --text-preset-3--font-weight: 300;

  --text-preset-4: 1.555rem;
  --text-preset-4--line-height: 1.2;
  --text-preset-4--font-weight: 700;

  --text-preset-5-semibold: 1.111rem;
  --text-preset-5-semibold--line-height: 1.2;
  --text-preset-5-semibold--font-weight: 600;

  --text-preset-5-medium: 1.111rem;
  --text-preset-5-medium--line-height: 1.2;
  --text-preset-5-medium--font-weight: 500;

  --text-preset-6: 0.888rem;
  --text-preset-6--line-height: 1.2;
  --text-preset-6--font-weight: 500;

  --text-preset-7: 0.777rem;
  --text-preset-7--line-height: 1.2;
  --text-preset-7--font-weight: 500;

  /*spacing*/
  --spacing-1400: 6.222rem;
  --spacing-800: 3.556rem;
  --spacing-600: 2.667rem;
  --spacing-400: 1.778rem;
  --spacing-300: 1.333rem;
  --spacing-250: 1.111rem;
  --spacing-200: 0.889rem;
  --spacing-150: 0.667rem;
}
